.cabinet {
  position: fixed;
  top: 0;
  left: 0;
  width: 20rem;
  height: 100%;
  background-color: rgba(228, 247, 247, 0.87);
  background-color: rgb(65, 65, 65);
  background-color: #ccc;
  box-shadow: 2px 2px 50px rgb(145, 145, 145);
  overflow: scroll;
  transform: translateX(-100%);
  transition: all 0.5s ease;
  opacity: 0.87;
  h2 {
    text-align: center;
    padding: 2rem;
    font-family: 'Poppins';
  }
  form {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    input {
      height: 1.5rem;
      box-shadow: 2px 2px 50px rgb(145, 145, 145);
    }
    .form__button {
      margin-top: 0.2rem;
      width: 4rem;
    }
  }
}

.cabinet--active {
  transform: translateX(0%);
  opacity: 1;
}
.cabinet__button-container {
  padding: 1rem;
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins';
  button {
    font-size: 2rem;
    width: 8rem;
    height: 4rem;
  }
}
